footer {
  background-color: var(--colour-primary);
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  position: relative;
  font-size: medium;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu {
  flex-direction: column;
  align-items: center;
  order: 1;
}

.menu a {
  color: #ffffff;
}

.copy {
  max-width: var(--max-width-header);
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: small;
  color: #ffffff;
}
