.terms-content {
  padding: 0 8rem;
}

.terms-content h1 {
  margin-top: 5%;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #ffffff;
}

.terms-content h2 {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #ffffff;
}

.terms-content h3 {
  color: #ffffff;
}

.terms-content p,
.terms-content ul,
.terms-content li {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .terms-content {
    padding: 0 1rem;
  }

  .terms-content h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .terms-content h2 {
    font-size: 1.5rem;
  }

  .terms-content p,
  .terms-content ul,
  .terms-content li {
    font-size: 1rem;
  }
}
